APP_NAME='Event Service'
APP_HOST=127.0.0.1
APP_PORT=8010
APP_DEBUG=true

KAFKA_BOOTSTRAP_SERVERS=127.0.0.1:9094,127.0.0.1:9095,127.0.0.1:9096
KAFKA_EVENTS_TOPIC=events
KAFKA_EVENTS_RETRY_TOPIC=events_retry
KAFKA_EVENTS_DLQ_TOPIC=events_dlq
KAFKA_EVENTS_RETRANSMIT_TOPIC=events_retransmitted
KAFKA_CLIENT_ID=event-service-api
KAFKA_CONSUMER_GROUP=event-service-consumer
KAFKA_RETRANSMIT_CONSUMER_GROUP=event-service-retransmitter

CLICKHOUSE_HOST=127.0.0.1
CLICKHOUSE_PORT=8123
CLICKHOUSE_DATABASE=event_service
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=

CLICKHOUSE_BATCH_SIZE=1000
KAFKA_BATCH_TIMEOUT_MS=3000

MAX_RETRY_ATTEMPTS=3
RETRY_DELAY_SECONDS=3
RETRANSMIT_ENABLED=true